/*

************************************************* 

    Template Author : pixelhint.com
    Author Email    : contact@pixelhint.com
    Template Name   : Notify
    
    
************************************************* 
    
*/



/*  Fonts  */
@font-face {
    font-family: 'Aleo-Regular';
    src: url('/assets/website/fonts/Aleo-Regular.eot');
    src: url('/assets/website/fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/website/fonts/Aleo-Regular.woff') format('woff'),
         url('/assets/website/fonts/Aleo-Regular.ttf') format('truetype'),
         url('/assets/website/fonts/Aleo-Regular.svg#Aleo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Aleo-Bold';
    src: url('/assets/website/fonts/Aleo-Bold.eot');
    src: url('/assets/website/fonts/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/website/fonts/Aleo-Bold.woff') format('woff'),
         url('/assets/website/fonts/Aleo-Bold.ttf') format('truetype'),
         url('/assets/website/fonts/Aleo-Bold.svg#Aleo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/website/fonts/Lato-Regular.eot');
    src: url('/assets/website/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/website/fonts/Lato-Regular.woff') format('woff'),
         url('/assets/website/fonts/Lato-Regular.ttf') format('truetype'),
         url('/assets/website/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/website/fonts/Lato-Bold.eot');
    src: url('/assets/website/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/website/fonts/Lato-Bold.woff') format('woff'),
         url('/assets/website/fonts/Lato-Bold.ttf') format('truetype'),
         url('/assets/website/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*  General CSS*/

h1, h2, h3, h4, h5 ,h6{
    color: #ffffff;
    font-family: "Aleo-Regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 1.5em;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.wrapper{
    width: 790px;
    margin: 0 auto;
}





.content{
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 9999;
    text-align: center;
}

.content H1{
    color: #fff;
    font-family: "Aleo-Bold", arial;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content p{
    color: #fff;
    font-family: "Aleo-Regular", arial;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}

.content p.description{
    margin-top: 20px;
}

.content .subscription_form{
    width: 401px;
    margin: 60px auto 0 auto;
    position: relative;
}

.content .subscription_form > div:before,
.content .subscription_form > div:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    top: 50%;
}

.content .subscription_form > div:before{
    left: -35%;
}
.content .subscription_form > div:after{
    right: -35%;
}

.subscription_form form input[type=email],
.subscription_form form input[type=text]{
    display: block;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    color: #cc45e4;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    float: left;
    margin: 0;
    border: 0;
    font-family: 'Aleo-Regular', arial;
}

.subscription_form form input[type=email]::-webkit-input-placeholder,
.subscription_form form input[type=text]::-webkit-input-placeholder{
   color: #e3cced;
}

.subscription_form form input[type=email]::-moz-placeholder,
.subscription_form form input[type=text]::-moz-placeholder{
   color: #e3cced;
}

.subscription_form form input[type=email]::-moz-placeholder,
.subscription_form form input[type=text]::-moz-placeholder{
   color: #e3cced;
}

.subscription_form form input[type=email]::-ms-input-placeholder,  
.subscription_form form input[type=text]::-ms-input-placeholder{  
   color: #e3cced;
} 

.subscription_form form button{
    display: block;
    width: 62px;
    height: 59px;
    background: #ffffff;
    border: 0;
    float: left;
    margin-left: -1px;
    outline: none;
}

.subscription_form form button:hover{
    cursor: pointer;
}

.subscription_form form .icon{
    display: block;
    width: 26px;
    height: 19px;
    background: url("../img/mail_icon.png") no-repeat;
    margin-left: 10px;
}


.subscription_form form .loading{
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/load.gif") no-repeat;
    margin-left: 20px;
}


.back_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -9999;
    background: #50cda7 url('../img/bg_img.jpg') no-repeat;
    background-position: center 0;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gradient_back_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -9999;
    background: #50cda7 url('../img/bg_img_raw.jpg') no-repeat;
    background-position: center 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -888;
    background: #50cda7;
    background: -moz-linear-gradient(top,  rgba(185, 85, 218, .9) 0%, rgba(81, 179, 160, .9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185, 85, 218, .9)), color-stop(100%,rgba(81, 179, 160, .9)));
    background: -webkit-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: -o-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: -ms-linear-gradient(top,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%); 
    background: linear-gradient(to bottom,  rgba(185, 85, 218, .9) 0%,rgba(81, 179, 160, .9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(185, 85, 218, .9)', endColorstr='rgba(81, 179, 160, .9)',GradientType=0 );

}






/*Counter*/
.counter{
    margin-top: 40px;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}


.time_circles > div {
    position: absolute;
    text-align: center;
}


.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato-Regular', Arial;
    color: #fff;
    font-weight: normal!important;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Lato-Bold', Arial;
    margin: 0.25em 0 0.5em 0; 
    font-weight: bold;
    color: #fff;
    font-size: 40px;

}




/*  Tooltip  */
.tooltip{
    display: block;
    padding: 10px 20px;
    background: #454545;
    color: #fff;
    font-family: "Aleo-Regular", arial;
    font-size: 13px;
    position: absolute;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    text-align: center;
    letter-spacing: .5px;

}

.tooltip:after{
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #454545 transparent transparent transparent;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
}