body {
            background-color: #f2f2f2;
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        select{
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

        .btn:hover {
            background-color: #45a049;
        }

        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }

        /*CARD STYLE START*/
        /* Credit Card Validator */
        [name="card-container"] {
            position: relative;
            width: 100%;
            padding-top: 15px;
        }
        [name="card-container"] label {
            position: absolute;
            top: 0%;
            left: 0%;
            font-size: .8rem;
            color: #308cbd;
            font-weight: 400;
            cursor: text;
            pointer-events: none;
            transition: all .2s linear;
        }
       
        #logo {
            width: 46px;
            height: 30px;
            position: absolute;
            top: 17px;
            right: 3px;
        }
        .validcard {
            border-bottom: 1px dashed #67bea3 !important;
            color: #67bea3 !important;
        }
        .error {
            border-bottom: 1px dashed rgb(248, 86, 88) !important;
        }
        .visa {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 0 no-repeat;
        }
        .mastercard {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -30px no-repeat;
        }
        .amex {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -60px no-repeat;
        }
        .diners {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -90px no-repeat;
        }
        .discover {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -120px no-repeat;
        }
        .shopping {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -150px no-repeat;
        }
        .naranja {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -180px no-repeat;
        }
        .qida {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -210px no-repeat;
        }
        .clubdia {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -240px no-repeat;
        }
        .musicred {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -270px no-repeat;
        }
        .nevada {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -300px no-repeat;
        }
        .tuya {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -330px no-repeat;
        }
        .laanonima {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -360px no-repeat;
        }
        .crediguia {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -390px no-repeat;
        }
        .patagonia {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -410px no-repeat;
        }
        .sol {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -440px no-repeat;
        }
        .cabal {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -470px no-repeat;
        }
        .cencosud {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -500px no-repeat;
        }
        .credimas {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -530px no-repeat;
        }
        .carrefour {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -560px no-repeat;
        }
        .grupar {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -590px no-repeat;
        }
        .wishgift {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -610px no-repeat;
        }
        .unknown {
            background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg")
            0 -640px no-repeat;
        }

        /*CARD STYLE END*/

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
        @media (max-width: 800px) {
            .row {
                flex-direction: column-reverse;
            }
            .col-25 {
                margin-bottom: 20px;
            }
        }